<p>Find me in app/views/meet_withs/index.html.erb</p>
<h1>投稿一覧</h1>
<div class="contents row">
  <% @meet_withs.each do |meet_with| %>
    
      <p><%= meet_with.text %></p>
      <span class="name">
        <%= meet_with.user.nickname %>
      </span>
    </div>
  <% end %>